APP_NAME="FitForge Diet Service"
APP_ENV=production
APP_KEY=base64:CHANGE_ME_32_CHARS_BASE64_KEY_HERE=
APP_DEBUG=false
APP_URL=http://localhost:8082

LOG_CHANNEL=stderr
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=fitforge
DB_USERNAME=fitforge
DB_PASSWORD=fitforge_secret

CACHE_DRIVER=redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=null

JWT_SECRET=CHANGE_ME_JWT_SECRET_KEY
